---
import { CASINOS } from '../../data/casinos';

export function getStaticPaths() {
  return CASINOS.map(c => ({ params: { slug: c.slug }, props: { brandId: c.brandId } }));
}

interface Props {
  brandId: string;
}

const { brandId } = Astro.props;
const fallbackUrl = `https://pixlclick.click/click?key=929139560bb74e2d82b65e0f942edc99&creative=${brandId}&keyword=direct_en`;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Redirecting</title>
    <script is:inline define:vars={{ brandId, fallbackUrl }}>
      (function() {
        try {
          var p = new URLSearchParams(window.location.search);
          var from = p.get('from') || 'direct';
          var lang = p.get('lang') || 'en';
          var url = 'https://pixlclick.click/click?key=929139560bb74e2d82b65e0f942edc99&creative=' + brandId + '&keyword=' + from + '_' + lang;
          window.location.replace(url);
        } catch (e) {
          window.location.replace(fallbackUrl);
        }
      })();
    </script>
    <meta http-equiv="refresh" content={`0;url=${fallbackUrl}`} />
    <link rel="canonical" href={fallbackUrl} />
  </head>
  <body></body>
</html>
